.card__title {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;

  margin-top: 0;
  margin-bottom: 4px;
}

@media (min-width: 768px) {
  .card__title {
    font-size: 18px;
    line-height: 25px;
  }
}

@media (min-width: 1200px) {
  .card__title {
    font-size: 20px;
    line-height: 28px;
  }
}