.subscribe__cost-installment-sum {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 41px;
  text-decoration: line-through;
  color: #676767;

  margin-top: 5px;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .subscribe__cost-installment-sum {
    font-size: 16px;
    line-height: 27px;
    margin-top: 4px;
  }
}

@media (min-width: 1200px) {
  .subscribe__cost-installment-sum {
    font-size: 24px;
    line-height: 41px;
  }
}