.subscribe__form-input {
  width: 100%;

  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #000;

  display: block;
  margin-bottom: 24px;
  padding-bottom: 6px;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
}

.subscribe__form-input:focus {
  outline: none;
  border-bottom: 1px solid rgba(21, 25, 255, .6);
}

.subscribe__form-input::placeholder {
  color: #676767;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.subscribe__form-input:focus::placeholder {
  opacity: 0;
  transition: opacity 0.3s linear;
}

@media (min-width: 768px) {
  .subscribe__form-input {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .subscribe__form-input {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 28px;
  }
}