.card__time {
  font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000;

  margin-top: 12px;
  margin-bottom: 12px;
}

@media (min-width: 768px) {
  .card__time {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .card__time {
    font-size: 16px;
    line-height: 27px;
  }
}