.card__image {
  width: 100%;
  max-width: 312px;

  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .card__image {
    max-width: 343px;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .card__image {
    max-width: 294px;
  }
}