.subscribe__cost-subtitle {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #676767;

  margin: 0;
}

@media (min-width: 768px) {
  .subscribe__cost-subtitle {
    font-size: 14px;
    line-height: 24px;
  }
}

@media (min-width: 1200px) {
  .subscribe__cost-subtitle {
    font-size: 16px;
    line-height: 27px;
  }
}