.card__text-block {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, .5);
  padding-top: 13px;
}

@media (min-width: 768px) {
  .card__text-block {
    padding-top: 20px;
    padding-left: 18px;
  }
}

@media (min-width: 1200px) {
  .card__text-block {
    padding-left: 32px;
    padding-top: 23px;
  }

  .card:nth-child(4n+4) .card__text-block, .card:nth-child(4n+5) .card__text-block {
    padding-left: 0;
  }
}